<!DOCTYPE html>
<html lang="en">
  <head>
    <module href="/components/head.html"></module>
  </head>
  <body>
    <header>
      <a href="#"><span class="fancy">william</span></a>
      <ul class="nav">
        <li>
          <a href="https://github.com/MrBubbles06/" target="_blank">
            <span>github</span>
            <i class="bi-github"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/mrbubbles06" target="_blank">
            <span>instagram</span>
            <i class="bi-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://codepen.io/mrbubbles06" target="_blank">
            <span>codepen</span>
            <i class="bi-code-square"></i>
          </a>
        </li>
      </ul>
    </header>
    <main>
      <div class="hellocont">
        <div class="hello">
          <h1>Hi. I'm William.</h1>
          <h2>a junior front-end developer</h2>
        </div>
        <div class="custom-shape-divider-bottom-1669612761">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
          </svg>
        </div>
      </div>
      <div id="aboutme" class="about">
        <div class="skillstitle">
          <h2>my skills</h2>
          <h3>(click the boxes)</h3>
        </div>
        <div class="sect sect1">
          <h2>java</h2>
          <div class="more">
            <p>foo</p>
          </div>
        </div>
        <div class="sect sect2">
          <h2>linux</h2>
          <div class="more">
            <p>bar</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <hr />
      <div class="content">
        <p>Copyright © <span id="currentyear" title="2022"></span> William B</p>
        <div class="links">
          <p>other projects</p>
          <a href="https://mrbubbles.pages.dev/v1port/">v1</a>
          <a href="https://mrbubbles.pages.dev">mrbubbles' unblocked games</a>
        </div>
      </div>
    </footer>
    <script src="./bundle.js"></script>
  </body>
</html>
