<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="color-scheme" content="light dark" />
<!-- Primary Meta Tags -->
<title>William | Junior Front-end Developer</title>
<meta name="title" content="William | Junior Front-end Developer" />
<meta
  name="description"
  content="I am an aspiring front-end developer, and enjoy designing and coding UX, UI, website, and apps. I'm familiar with a variety of tools and languages, including javascript, css, html, figma, linux, and more." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mrbubbles.dev/" />
<meta property="og:title" content="William | Junior Front-end Developer" />
<meta
  property="og:description"
  content="I am an aspiring front-end developer, and enjoy designing and coding UX, UI, website, and apps. I'm familiar with a variety of tools and languages, including javascript, css, html, figma, linux, and more." />
<meta property="og:image" content="https://mrbubbles.dev/images/coverimage.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://mrbubbles.dev/" />
<meta property="twitter:title" content="William | Junior Front-end Developer" />
<meta
  property="twitter:description"
  content="I am an aspiring front-end developer, and enjoy designing and coding UX, UI, website, and apps. I'm familiar with a variety of tools and languages, including javascript, css, html, figma, linux, and more." />
<meta property="twitter:image" content="https://mrbubbles.dev/images/coverimage.png" />

<link rel="stylesheet" href="./index.css" />
<link rel="shortcut icon" href="./images/icon.svg?=v2" type="image/x-icon" />
