<header>
  <a href="#">
    <span class="fancy">
      <content></content>
    </span>
  </a>
  <ul class="nav">
    <li>
      <a href="https://github.com/MrBubbles06/" target="_blank">
        <span>github</span>
        <i class="bi-github"></i>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/mrbubbles06" target="_blank">
        <span>instagram</span>
        <i class="bi-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://codepen.io/mrbubbles06" target="_blank">
        <span>codepen</span>
        <i class="bi-code-square"></i>
      </a>
    </li>
  </ul>
</header>
